@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');

body {
  font-family: 'Kanit', sans-serif;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  /* background-color: #fff; */
}

.carousel-indicators li {
  background-color: #fff;
  box-shadow: 0px 1px 2px 1px #e4e4e4
}
.carousel-indicators .active {
    background-color: #187BC1;
    box-shadow: 0px 0px;
}

.fs-18 {
  color: #888888;
}

.fs-20 {
  color: #187BC1;
}

.logo-z {
  position: absolute;
  z-index: -1;
}

.btn-go {
  color: #fff;
  background-color: #187BC1;
  border-color: #187BC1;
  border-radius: 0px;
  padding: 10px 50px;
}

.btn-go:hover {
  color: #fff;
  background-color: #187BC1;
  border-color: #187BC1;
  border-radius: 0px;
}

@media screen and (min-width: 1366px){
  .fs-18 {
    color: #888888;
    font-size: 18px;
  }

  .fs-20 {
    color: #187BC1;
    font-size: 20px;
  }

  .logo-z {
    height: 120px;
    width: 100%;
  }
}

@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
  .logo-m {
    width: 80px;
    height: 40px;
  }

  .btn-go {
    padding: 4px 10px;
    font-size: 6px;
  }

  .fs-18 {
    color: #888888;
    font-size: 6px;
  }

  .fs-20 {
    color: #187BC1;
    font-size: 10px;
  }

  .logo-z {
    height: 50px;
    width: 200px;
  }

  .fs-6 {
    font-size: 6px;
  }
}
